@font-face {
    font-family: "icons";
    src: url("./icons.eot?40ac9e636968b9b195d1921348dccf29?#iefix") format("embedded-opentype"),
url("./icons.woff2?40ac9e636968b9b195d1921348dccf29") format("woff2"),
url("./icons.woff?40ac9e636968b9b195d1921348dccf29") format("woff"),
url("./icons.ttf?40ac9e636968b9b195d1921348dccf29") format("truetype"),
url("./icons.svg?40ac9e636968b9b195d1921348dccf29#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bruit:before {
    content: "\f101";
}
.icon-carabino:before {
    content: "\f102";
}
.icon-cemurmure:before {
    content: "\f103";
}
.icon-dynamobile:before {
    content: "\f104";
}
.icon-fractal:before {
    content: "\f105";
}
.icon-homer:before {
    content: "\f106";
}
.icon-homework:before {
    content: "\f107";
}
.icon-homework2:before {
    content: "\f108";
}
.icon-ombres:before {
    content: "\f109";
}
.icon-theater:before {
    content: "\f10a";
}
